



.app {
  height: 100vh;
  max-height: -webkit-fill-available;
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.app-header h1 {
  color: #FFF;
  font-size: 46px;
}
.game-container {
  padding-top: 40px;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;   
}
.game-container-inner {
  
  max-width: 400px;
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}





.notword-container {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 20px Montserrat, sans-serif;
  background-color:#f0f0f0d8;
  backdrop-filter: blur(6px);
  color: #282c34;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}
.notword-container p {
  font: bold 26px Montserrat, sans-serif;
  margin: 8px;
}


