.app-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    position: relative;
}

.header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin: 0px 10px;
    color: var(--header-font-color);
    justify-self: right;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.non-clickable-icon {
    margin: 0px 10px;
    color: var(--header-font-color);
    justify-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-hoverable:hover {
    color: var(--header-font-hover-color);
}

.logo {
    color: var(--header-font-color);
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 46px;
    text-align: center;
    pointer-events: none;
}

.hardmode-deactivated {
    opacity: 0.3;
}
.logo h1 {
    color: var(--header-font-color);
    margin: 0px;
}
.language-icon {
    font-size: 12px;
    cursor:default;
}
.right-header {
    display: flex;
    justify-content: right;
    margin: 10px;
}
@media only screen and (max-width: 767px) {
    .logo {
        
        text-align: left;
    }
    .logo h1 {
        margin-left: 10px;
        font-size: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablet devices */
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for small desktops */
}
@media only screen and (min-width: 1200px) {
    /* Styles for large desktops */
}